body {
    font-family: Arial, sans-serif;
    background-color: hsl(0,0%,95%);
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../IMGS/weather.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

.weatherform {
    margin: 20px;
}

.cityInput {
    padding: 10px;
    font-size: 2rem;
    font-weight: bold;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
}

button[type ="submit"] {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 2rem;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="sumbit"]:hover{
    background-color: green;
}

.deck {
    background-image: linear-gradient(180deg, rgb(22, 186, 251),rgb(255, 168, 6));
   /*background-color: aqua;*/
    padding: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 3.5rem;
    margin-top: 0;
    margin-bottom: 25px;

}

p {
    font-size: 1.5rem;
    margin: 5px 0;
}

.cityDisplay, .tempDisplay {
    font-size: 3.5rem;
    font-weight: bold;
    color: black;
    margin-bottom: 25px;
}

.humidityDisplay{
    font-weight: bold;
    margin-bottom: 25px;
}

.descDisplay{
    font-style: italic;
    font-weight: bold;
    font-size: 2rem;
}

.weatherEmoji {
  font-size: 80px; /* or any size you like */
  line-height: 1;
  text-align: center;
  margin-top: 10px;
}
.errorDisplay{
    font-size: 2.5rem;
    font-weight: bold;
    color: black;
}